.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}

.contain{
  max-width: 400px;
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(255, 209, 3);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.loginRegisterButton {
  
  /*top: 60px;*/
 /* right: 20px;*/
  background-color: rgb(13, 208, 247);
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  height: calc(12vh - px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: .6cm;
}





/*   
  .login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  */
  button {
    margin-top: 0px;
    cursor: pointer;
    background-color: rgb(3, 70, 255);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }
  
  button:hover {
    background-color: #00d9ff;
  }
   